.hide-mobile{
    display: none;
}
body{
    background-color: #FFFBF3;
    margin: 0;
    font-family: 'Inter';

}
.wrap{
     margin: 2em;
}
header{
    display: flex;
    justify-content: space-between;
}
nav ul{
    background-color: white;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    margin: 0;
    height: 100vh;
    list-style: none;
    width: 40%;
    text-align: right;
    padding: 2em;
    /* transform to hide ul */
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    li{
        margin: 1em 0;
        &:nth-of-type(1){ 
            /* fist li item */
            margin-bottom: 4em;
        }
        a{
            color: black;
            text-decoration: none;
            font-weight:bold ;
            font-size: 1.5rem;
            &:hover{
                /* hover this a */
                color: orange;
                text-decoration: underline;
            }
        }
    }

}
.open{
    transform: translateX(0%);
}
h1,p{
    text-align: center;
}
h1{
    margin-top: 3em;
    img{
        margin: 0 auto;
        display: block;
    }
}
p{
    line-height: 1.5;
    font-size: 1.2rem;
}
.primary-cta{
    background-color: orange;
    padding: 1em;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    color: black;
    border-radius: .3em;
}
.cat{
    position: relative;
    height: 500px;
    width: 100%;
    margin-top: 3em;
    /* overflow: hidden; */
    img{
        width: 70%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .inner-circle , .outer-circle{
        position: absolute;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);


    }
    .inner-circle{
        background-color: bisque;
        width: 300px;
        height: 300px;
        z-index: -1;
    }
    .outer-circle{
        background-color: wheat;
        width: 500px;
        height: 500px;
        z-index: -2;
    }
}
@media(min-width:798px){
    .wrap{
        margin: 0 4em;
    }
    .hide-desktop{
        display: none;
    }
    .hide-mobile{
        display: block;
    }
    .header-left{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        .divider{
            height: 50px;
            width: 1px;
            border-right: 1px solid gray;

        }
        a{
            text-decoration: none;
            font-size: 1.2rem;
            color: black;
        }
    }
    nav ul{
        /* reset the nav list for desktop screen */
        display: flex;
        position: unset;
        background: none;
        gap: 2em;
        height: auto;
        width: auto;
        transform: translateX(0%);
        li a{
            font-size: 1.2rem;
        }
    }

}
@media(min-width:950px){
    h1 ,p {
        text-align: left;
    }
    h1 img{
        margin:0;
    }
    main{
        width: 50%;
    }
    .cat{
        margin-top: 0;
        .inner-circle{
            height: 500px;
            width: 500px;
        }
        .outer-circle{
            height: 1000px;
            width: 1000px;
        }
    }
    .cat-container{
        width: 50%;
        position: absolute;
        z-index: -1;
        right: 0;
        top: 20%;
    }

}

@media(min-width:1200px){
    a.primary-cta{
        display: inline-block;
        width: auto;
        padding: 1em 2em;
    }
    .cat{
        position: relative;
        img{
            max-width: 400px;
            left: 50%;
        }
    }
}